!!! 5
%html
  %head
    %title samurai
  %body
    %h1 samurai
    
    %script{src: '/socket.io/socket.io.js'}
    %script{src: 'jquery.min.js'}
    %script{src: 'json2.js'}
    %script{src: 'samurai-client.js'}
